.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }
  
  
  .container{
    padding: 0 30px;
    text-align: center;
    position: relative;
    height: 100vh;
    padding-top: 150px;
  }
  
  
  .auth_input{
    margin-bottom: 15px;
  }
  
  .auth_logo{
    width: 100px;
  }
  
  .logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .header_title{
    color: var(--gray-900, #111928);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 25px */
  }
  
  .signup_section{
    margin-top: 30px;
  }