<ion-content>
  <section class="container">
    <section class="logo_container">
      <ion-img class="auth_logo" src="../../assets/icons/calendar-outline.png"></ion-img>
      <p class="header_title">Solicitud de Permisos</p>
      <p class="header_title">Crea una cuenta</p>
    </section>
    
    <form>

      <ion-item lines="full" class="auth_input" fill="outline">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required  #email></ion-input>
      </ion-item>
  
      <ion-item lines="full" class="auth_input">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required #password></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block" (click)="signUp(email, password)">Crear Cuenta</ion-button>
          <div class="signup_section">
            <span> Do you have an account ?<a [routerLink]="['/']" class="small-text">Sign in</a></span>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </section>
</ion-content>